
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=fb2d8e8e782039a2b865621563381aba
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress